body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7hmWWeA322uCiSU4uQYlayWRGyG1CTxxSa9_BvhB6LoxWZSPCpw");
    background-repeat: repeat;
    font-family: Bungee-inline;
    background-size: auto;
}

p {
    color: #CCFFFF;
}

input {
    color: white;
}

#customShirt, #customMug, #shirts, #mugs {
    overflow: scroll;
}

#cartButton {
    height: 90px;
}

.addButton {
    height: 80px;
    width: 200px;
}

.productImage {
    height: 200px;
    width: 200px;
}

.thumbnail,
.caption {
    background-color: #5bc0de;
    ;
}

#contactModalButton {
    margin-top: -15%;
    margin-left: 45%;
}

.product {
    margin: 1%;
    display: inline-block;
}

#customInfo {
    margin-top: 15%;
    margin-right: 5%;
}

.carousel-inner {
    margin: 8%;
    /*margin-left: 15%;*/
    width: 100%
}

#ameeImage {
    margin-left: 5%;
    width: 200px;
    height: 300px;
}

#pups {
    width: 320px;
    height: 300px;
    margin-left: 5%;

}


/*  this is for tablets */

@media screen and (max-width: 980px) and (min-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7hmWWeA322uCiSU4uQYlayWRGyG1CTxxSa9_BvhB6LoxWZSPCpw");
        background-repeat: repeat;
        font-family: Bungee-inline;
        background-size: auto;
    }
#ameeImage {
        /*margin-left: 15%;*/
        width: 200px;
        height: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    #pups {
        display: none;
        width: 200px;
        height: 100px;
        margin-left: 0%;
    }
    
    .carousel-inner {
    margin: 8%;
    margin-left: 35%;
    width: 100%
}
}


/*  this is for phones */

@media screen and (max-width: 666px) and (min-width: 250px) and (-webkit-min-device-pixel-ratio: 2) {

    body {
        display: flex;
        min-height: 100%;
        flex-direction: row;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7hmWWeA322uCiSU4uQYlayWRGyG1CTxxSa9_BvhB6LoxWZSPCpw");
        background-repeat: repeat;
        font-family: Bungee-inline;
        background-size: auto;
    }

    #ameeImage {
        /*margin-left: 15%;*/
        width: 200px;
        height: 300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    #pups {
        display: none;
        width: 200px;
        height: 100px;
        margin-left: 0%;
    }

    .product {
        margin: 1%;
        margin-left: 15%;
        display: inline-block;
    }

    #cartButton {
        height: 90px;
        margin-left: 5%;
    }

    #contactModalButton {
        margin-top: -5%;
        margin-left: 35%;
        margin-bottom: 3%;
    }

    #customInfo {
        margin-top: 15%;
        margin-right: 0%;
    }


}
